NODE_ENV=development
PORT=8000
FRONTEND_URL=http://localhost:5173
PYTHON_SERVICE_URL=http://localhost:8001
MONGODB_URI=mongodb+srv://samanpratap219:y2NmWPwfinUzkl93@cluster0.r1fcksm.mongodb.net/
REDIS_URL=redis://localhost:6379
ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
REFRESH_TOKEN_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
OPENAI_API_KEY=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 
STRICT_DEVICE_VALIDATION=false
RAZORPAY_KEY_ID=rzp_test_bvkoKt77HBkyWt
RAZORPAY_KEY_SECRET=3FemqlgCPZTnYgJFgLp5iiwv

# For Python microservice:
MONGODB_URL=mongodb+srv://samanpratap219:tqILtnz2f10oBIKj@cluster0.dmt3myg.mongodb.net/
NODEJS_BACKEND_URL=http://localhost:5000